h1
{
  color: #000080;
  margin-left: 650px;
  text-decoration: underline;
}
h3
{
  margin-left: 630px;
}
.header
{
  font-style: normal;
  font-family: Courier
}

.about
{
font-family: Courier;
margin-left: 450px;
}

#panda
{
  height: 250px;
  width: 250px;
  overflow: hidden;
  float: left;
  margin: 25px;
  border: solid 2px #58bced;
}
